
    <section class="shop-page padding-medium">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="page-title" style="color:brown">ADMIN-PRODUCT</h1>
          </div>
        </div>
      </div>
    </section>

    <!-- All product -->
    <section class="shoppify-items padding-large no-padding-top">
      <div class="container">
        <div class="row">
          <div class="product-content large-box flex-wrap">
            {{#each products}}
            <div class="col-md-3">
              <div class="content-box text-center">
                <figure class="bg-grey">
                  <img src={{image}} alt={{category}} class="image">
                  <div class="middle">
                    <button href="/admin/update/{{id}}" class="text btn btn-black">UPDATE</button>
                    <form method="POST" action="/delete/{{id}}">
                        <button type="submit" class="text btn btn-light">REMOVE</button>
                    </form>
                  </div>
                </figure>
                <div class="category align-center">
                  <a href="/product/{{id}}">{{title}}</a>
                </div>
                <span class="price-tag text-center">{{price}}</span>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </section>