{{!-- BLOG --}}
<section id="latest-blog" class="scrollspy-section padding-large">
	<div class="container">
		{{#each blogs}}
		<div class="row">
			<div class="col-md-12">
				<!-- post grid -->
				<div class="post-grid">
					<div class="row">
						{{#each this}}
						<div class="post-review col-md-4 col-sm-6">
							<figure>
								<img src={{this.image}} alt="jewellery" class="post-image">
							</figure>
							<div class="post-content">
								<div class="meta-tags">
									{{!-- <span class="meta-date">Posted in {{date}}</span> --}}
									<span class="meta-date">by {{this.author}}</span>
								</div>
								<h3 class="post-title">
									<a href={{this.href}}>{{this.title}}</a>
								</h3>
								<p>{{this.body}}</p>
							</div>
						</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
	<section id="pagination my-2" class="">
		<nav aria-label="Page navigation example">
			<ul class="pagination" id="pagination">
				<li class="page-item {{#unless hasPrev}}disabled{{/unless}}">
					<a class="page-link" href="{{#if hasPrev}}/pages/blog?page={{prev}}{{/if}}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>

				{{#each pages}}
				<li class="page-item {{#if isActive}}active{{/if}}">
					<a class="page-link" href="/pages/blog?page={{this}}">{{this}}</a>
				</li>
				{{/each}}

				<li class="page-item {{#unless hasNext}}disabled{{/unless}}">
					<a class="page-link" href="{{#if hasNext}}/pages/blog?page={{next}}{{/if}}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
	</section>
</section>
<style>
	.post-review {
		transition: all 0.3s;
	}

	.post-review:hover {
		transform: scale(1.07);
	}
</style>