<p>{{orders}}</p>

<div class="">
  <div class="">
    <div class="">
      <div class="row mb-3">
        <div class="col-sm-12 col-md-12 col-lg-12 p-0 d-flex justify-content-center">
          <h2 class="ml-lg-2">Manage Orders</h2>
        </div>
      </div>
    </div>
    <h2>Order of <span> #{{order._id}}</span></h2> 
    <p>Username: {{user.name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Address: {{order.address}}</p>
    <p>Phone: {{order.phone}}</p>
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">
              <span class="custom-checkbox pl-3">
                <input class="m-0" type="checkbox" id="selectAll">
              </span>
            </th>
            <th scope="col">ID</th>
            <th scope="col">User ID</th>
            <th scope="col">Status</th>
            <th scope="col">Address</th>
            <th scope="col">Payment ID</th>
          </tr>
        </thead>
        <tbody>
          {{#each orders}}
          {{#each this}}
          <tr>
            <th>
              <span class="custom-checkbox">
                <input type="checkbox" id="selectAll">
                <label for="selectAll"></label>
              </span>
            </th>
            <td><a href="/admin/order/{{this._id}}">{{this._id}}</a></td>
            <td>{{this.user}}</td>
            <td>{{this.status}}</td>
            <td>{{this.address}}</td>
            <td>{{this.paymentId}}</td>
          </tr>
          {{/each}}
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <section id="pagination" class="">
    <nav aria-label="Page navigation example">
      <ul class="pagination" id="pagination">
        <li class="page-item {{#unless hasPrev}}disabled{{/unless}}">
          <a class="page-link" href="{{#if hasPrev}}/admin/user?page={{prev}}{{/if}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        {{#each pages}}
        <li class="page-item {{#if isActive}}active{{/if}}">
          <a class="page-link" href="/admin/user?page={{this}}">{{this}}</a>
        </li>
        {{/each}}

        <li class="page-item {{#unless hasNext}}disabled{{/unless}}">
          <a class="page-link" href="{{#if hasNext}}/user?page={{next}}{{/if}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </section>
  {{order}}

  {{!-- <div class="row">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-10 col-lg-8 col-xl-6">
          <div class="card card-stepper" style="border-radius: 16px;">
            <div class="card-header p-4">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <p class="text-muted mb-2"> Order ID <span class="fw-bold text-body">1222528743</span></p>
                  <p class="text-muted mb-0"> Place On <span class="fw-bold text-body">12,March 2023</span> </p>
                </div>
                <div>
                  <h6 class="mb-0"> <a href="#">View Details</a> </h6>
                </div>
              </div>
            </div>
            <div class="card-body p-4">
              <div class="d-flex flex-row mb-4 pb-2">
                <div class="flex-fill">
                  <h5 class="bold">Dior 35 II</h5>
                  <p class="text-muted"> Qt: 1 item</p>
                  <h4 class="mb-3"> $ 36.00 <span class="small text-muted"> via (COD) </span></h4>
                  <p class="text-muted">Tracking Status on: <span class="text-body">11:30pm, Today</span></p>
                </div>
                <div>
                  <img class="align-self-center img-fluid" src="img/dior.jpg" width="250">
                </div>
              </div>
              <ul id="progressbar-1" class="mx-0 mt-0 mb-5 px-0 pt-0 pb-4">
                <li class="step0 active" id="step1"><span style="margin-left: 22px; margin-top: 12px;">PLACED</span>
                </li>
                <li class="step0 active text-center" id="step2"><span>SHIPPED</span></li>
                <li class="step0 text-muted text-end" id="step3"><span style="margin-right: 22px;">DELIVERED</span></li>
              </ul>
            </div>
            <div class="card-footer p-4">
              <div class="d-flex justify-content-between">
                <h5 class="fw-normal mb-0"><a href="#!">Track</a></h5>
                <div class="border-start h-100"></div>
                <h5 class="fw-normal mb-0"><a href="#!">Cancel</a></h5>
                <div class="border-start h-100"></div>
                <h5 class="fw-normal mb-0"><a href="#!">Pre-pay</a></h5>
                <div class="border-start h-100"></div>
                <h5 class="fw-normal mb-0"><a href="#!" class="text-muted"><i class="fas fa-ellipsis-v"></i></a>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> --}}


  {{user}}
  <h1>My Order <span> {{order._id}}</span></h1>
  <p>Username: {{user.name}}</p>
  <p>Email: {{user.email}}</p>
  <p>Address: {{order.address}}</p>
  <p>Phone: {{order.phone}}</p>

  <div>
    <h3>Items:</h3>
    {{#each order.cart.items}}
    <div>
      <div class="product-item d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
        <div class="d-flex flex-row align-items-center">
          <img class="rounded" src="{{this.item.image}}" width="75">
        </div>
        <div class="left-group flex-row flex-grow-1 align-items-center">
          <div class="ml-2"><span class="font-weight-bold d-block">{{this.item.title}}</span><span class="spec">
          </div>
          <div class="edit-price d-flex">
            <span class="d-block">Quantity: {{this.qty}}</span>
            <span class="d-block ml-5 font-weight-bold">Price: ${{this.item.price}}</span>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
    <p>Total: ${{order.cart.totalPrice}}</p>
  </div>
</div>