    <section class="single-product padding-large">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <a href="#" class="product-image">
              <img src="{{product.image}}"/>
            </a>
          </div>
          <div class="col-md-6">
            <div class="product-detail">
              <h2 class="product-title">{{product.title}}</h2>
              <p>{{product.category}}</p>
              <span class="price">${{product.price}}</span>
              <p>{{product.description}}</p>
              {{!-- <p>This lipstick possesses an eye-catching, luxurious and classy appearance, along with a magical lipstick that enhances the extremely attractive brick red color.</p> --}}
              <button type="submit" name="add-to-cart" value="27545" class="button">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    </section>
