<div class="cart-wrap">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="my-2 pb-5 text-center text-success">My wishlist</h1>
				<h3>{{isEmpty}}</h3>
				<div class="table-responsive">
					<table class="table mx-auto table-borderless">
						<thead class="">
							<tr>
								<th scope="col" class="text-center">Image</th>
								<th scope="col" class="text-center">Product Name</th>
								<th scope="col" class="text-center">Unit Price</th>
								<th scope="col" class="text-center">Status</th>
								<th scope="col" class="text-center">Action</th>
							</tr>
						</thead>
						<tbody>
						{{#each wishlist}}
						<tr class="mt-4">
							<th class="img-product align-middle">
								<img src={{this.image}} alt="" class="mCS_img_loaded">
							</th>
							<td class="align-middle text-center">{{this.title}}</td>
							<td class="align-middle text-center">${{this.price}}</td>
							{{#if this.inStock}}
							<td class="align-middle text-center"><span class="in-stock-box py-2">In Stock</span></td>
							{{else}}
							<td class="align-middle text-center"><span class="in-stock-box py-2">Out of Stock</span></td>
							{{/if}}
							<td class="align-middle text-center">
								<div  class="d-flex align-items-center justify-content-center">
									<span class="mx-2"><a href="/cart/add-to-cart/{{this._id}}"class="round-black-btn small-btn text-white py-2">Add to Cart</a></span>
								<span class="mx-2"><a href="/user/remove-from-wishlist/{{this._id}}"><i class="fas fa-trash"></i></a></span>
								</div>
							</td>
						</tr>
						{{/each}}
						</tbody>
					</table>
				</div>
				{{!-- <div class="table-wishlist">
					<div>
						<div class="title-wishlist">
							<div class="img-holder"></div>
							<p class="name">Product Name</p>
							<p class="price">Unit Price</p>
							<p class="status">Stock Status</p>
						</div>
						{{#each products}}
						<div class="product-container">
							<div class="img-product">
								<img src={{this.img}} alt="" class="mCS_img_loaded">
							</div>
							<div class="product-info">
								<div class="product-name-and-price">
									<div class="name-product">
										{{this.title}}
									</div>
									<div width="15%" class="price">${{this.price}}</div>
								</div>
								<div class="product-status">
									<div width="15%"><span class="in-stock-box">{{this.status}}</span></div>
									<div width="15%"><a href="/cart/add-to-cart/{{this._id}}" class="round-black-btn small-btn">Add to Cart</a>
									</div>
									<div width="10%" class="text-center"><a href="#" class="heart-icon"><i
												class="fas fa-trash"></i></a></div>
								</div>
							</div>
						</div>
						{{/each}}
						<div class="product-container">
							<div class="img-product">
								<img src="/img/dior_sale-removebg-preview.png" alt="" class="mCS_img_loaded">
							</div>
							<div class="product-info">
								<div class="product-name-and-price">
									<div class="name-product">
										Dior
									</div>
									<div width="15%" class="price">$110.00</div>
								</div>
								<div class="product-status">
									<div width="15%"><span class="in-stock-box py-2">In Stock</span></div>
									<div width="15%"><a class="round-black-btn small-btn text-white py-2">Add to Cart</a>
									</div>
									<div width="10%" class="text-center"><a href="#" class="heart-icon"><i
												class="fas fa-trash"></i></a></div>
								</div>
							</div>

						</div>

						<div class="product-container">
							<div class="img-product">
								<img src="/img/mac_symbol-removebg-preview.png" alt="" class="mCS_img_loaded">
							</div>
							<div class="product-info">
								<div class="product-name-and-price">
									<div class="name-product">
										Mac
									</div>
									<div width="15%" class="price">$110.00</div>
								</div>
								<div class="product-status">
									<div width="15%"><span class="in-stock-box">In Stock</span></div>
									<div width="15%"><button class="round-black-btn small-btn">Add to Cart</button>
									</div>
									<div width="10%" class="text-center"><a href="#" class="heart-icon"><i
												class="fas fa-trash"></i></a></div>
								</div>
							</div>
						</div>
					</div>
				</div> --}}








			</div>
		</div>
	</div>
</div>

<style>
					.cart-wrap {
						padding: 40px 0;
						font-family: var(--body-font);
					}

					.product-container {
						display: flex;
						align-items: center;
						height: 100px;
						gap: 20px;
						flex-wrap: wrap;
					}

					.product-info {
						display: flex;
						flex-grow: 1;
					}

					.title-wishlist {
						font-weight: bold;
						display: flex;
						width: 100%;
					}

					.title-wishlist .img-holder {
						width: 120px;
					}

					.title-wishlist .name {}

					.title-wishlist .price {
						flex-basis: 230px;
						text-align: end;
					}

					.title-wishlist .status {
						margin-left: auto;
						flex-basis: 340px;
					}

					.product-name-and-price {
						display: flex;
						flex-basis: 350px;
						align-items: center;
						justify-content: space-between;
					}

					.product-status {
						margin-left: auto;
						display: flex;
						align-items: center;
						justify-content: space-between;
						gap: 50px;
					}

					.img-product {
						width: 100px;
					}

					.img-product img {
						display: block;
						width: 100%;
					}

					@media screen and (max-width: 992px) {
						.product-info {
							display: block;
							flex-grow: 1;
						}

						.title-wishlist .status {
							display: none;
						}

						.title-wishlist .price {
							flex-basis: unset;
							margin-left: auto;
						}

						.product-status {
							gap: unset !important;
						}

						.product-name-and-price {
							gap: unset !important;
						}
					}

					@media screen and (max-width: 755px) {
						.product-container {
							gap: unset !important;
						}

						.img-product {
							width: 80px;
						}

						.img-holder {
							width: 80px !important;
						}
					}



					.main-heading {
						font-size: 50px;
						margin-bottom: 20px;
						color: yellowgreen;
					}

					@media screen and (max-width: 992px) {
						.main-heading {
							font-size: 30px;
						}
					}


					.table-wishlist table {
						width: 100%;
					}

					.table-wishlist thead {
						border-bottom: 1px solid #e5e5e5;
						margin-bottom: 5px;
					}

					.table-wishlist thead tr th {
						padding: 8px 0 18px;
						color: #484848;
						font-size: 15px;

					}

					.table-wishlist tr td {
						padding: 25px 0;
						vertical-align: middle;
					}

					.table-wishlist tr td .name-product {
						font-size: 15px;
						color: #484848;
						padding-top: 8px;
						line-height: 24px;
						width: 50%;
					}

					.table-wishlist tr td.price {
						font-weight: 600;
					}

					.table-wishlist tr td .quanlity {
						position: relative;
					}

					.product-wishlist {
						box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
					}

					.name-product {
						font-weight: bold;
					}

					.total {
						font-size: 24px;
						font-weight: 600;
						color: #8660e9;
					}

					.display-flex {
						display: flex;
					}

					.align-center {
						align-items: center;
					}

					.round-black-btn {
						border-radius: 25px;
						background: #212529;
						color: #fff;
						padding: 4px 15px;
						display: inline-block;
						border: solid 2px #212529;
						transition: all 0.5s ease-in-out 0s;
						cursor: pointer;
						font-size: 12px;
					}

					.round-black-btn:hover,
					.round-black-btn:focus {
						background: transparent;
						color: #212529;
						text-decoration: none;
					}

					.mb-10 {
						margin-bottom: 10px !important;
					}

					.mt-30 {
						margin-top: 30px !important;
					}

					.d-block {
						display: block;
					}

					.custom-form label {
						font-size: 14px;
						line-height: 14px;
					}

					.pretty.p-default {
						margin-bottom: 15px;
					}

					.pretty input:checked~.state.p-primary-o label:before,
					.pretty.p-toggle .state.p-primary-o label:before {
						border-color: #8660e9;
					}

					.pretty.p-default:not(.p-fill) input:checked~.state.p-primary-o label:after {
						background-color: #8660e9 !important;
					}

					.main-heading.border-b {
						border-bottom: solid 1px #ededed;
						padding-bottom: 15px;
						margin-bottom: 20px !important;
					}

					.custom-form .pretty .state label {
						padding-left: 6px;
					}

					.custom-form .pretty .state label:before {
						top: 1px;
					}

					.custom-form .pretty .state label:after {
						top: 1px;
					}

					.custom-form .form-control {
						font-size: 14px;
						height: 38px;
					}

					.custom-form .form-control:focus {
						box-shadow: none;
					}

					.custom-form textarea.form-control {
						height: auto;
					}

					.mt-40 {
						margin-top: 40px !important;
					}

					.in-stock-box {
						background: #ff0000;
						font-size: 12px;
						text-align: center;
						border-radius: 25px;
						padding: 3px 15px;
						display: inline-block;
						color: #fff;
					}

					

					.heart-icon {
						color: black;
					}
</style>